{% extends 'base.html.twig' %}

{% block title %} Facturier {% endblock %}

{% block body %}
<div>
    <h2> Générer une facture </h2>
    <table class="table">
        <tr>
            <th> Locataire </th>
            <th> Bailleur </th>
            <th> Mois </th>
            <th> Actions </th>
        </tr>

        {% for bill in bills %}
        <tr>
            <td>{{bill.renter}}</td>
            <td>{{bill.owner}}</td>
            <for>
            <td> <input type="text" placeholder="choissisez un mois" onkeyup="makeBilled('{{ bill.id }}')"></td>
            <td>
                <a id="bill-{{bill.id}}" href="{{path('app_bill_generate',{'id' : bill.id})}}">
                    <button class="btn btn-primary" >Générer</button>
                </a>
            </td>
        </tr>
        {% endfor %}

        {% if bills|length == 0 %}
            <p class="text-center shadow-none p-3 mb-5 bg-light rounded">  -- no data --</p>
        {% endif %}
    </table>
</div>

<script type="text/javascript">
    //makeBilled from '/assets/js/panier.js';

    function makeBilled(id) {

        console.log('ici');
    }


</script>  
{% endblock %}
