{% extends 'base.html.twig' %}

{% block title %} Facturier {% endblock %}

{% block body %}
<div>
    <h2> Générer une facture </h2>
    <div>
        {% for type, message in app.flashes %}
            <div class="alert alert-{{ type }}"> {{ message[0] }}</div>
        {% endfor %}
    </div>
    <table class="table">
        <tr>
            <th> Locataire </th>
            <th> Bailleur </th>
            <th> Mois </th>
            <th> Actions </th>
        </tr>

        {% for bill in bills %}
        <tr>
            <td>{{bill.renter}}</td>
            <td>{{bill.owner}}</td>
            <for>
            <td><input id="flat-{{bill.id}}" class="flat" type="text" placeholder="Choissisez un mois" onchange="makeBilled('{{ bill.id }}')"></td>
            <td>
                <a id="bill-speed-{{bill.id}}" href="{{path('app_bill_speed_generate',{'id': bill.id, 'date': null})}}">
                    <button class="btn btn-outline-dark"> Direct </button>
                </a>
                <a id="bill-{{bill.id}}" href="{{path('app_bill_generate',{'id' : bill.id})}}">
                    <button class="btn btn-outline-dark"> Générer </button>
                </a>
            </td>
        </tr>
        {% endfor %}

        {% if bills|length == 0 %}
            <p class="text-center shadow-none p-3 mb-5 bg-light rounded">  -- no data --</p>
        {% endif %}
    </table>
</div>

<script type="text/javascript">
    function makeBilled(id) {
        let elm = document.getElementById("bill-speed-"+id);
        let elmInput = document.getElementById("flat-"+id).value;
        let href = elm.getAttribute('href');
        elm.setAttribute('href', href+'/'+elmInput);
        console.log(id);
    }
</script>

<script type="module">
    import flatpickr from 'flatpickr';

    const myInput = document.querySelectorAll(".flat");
    flatpickr(myInput, {
        locale: 'fr',   
        dateFormat: "Y-m-d",
        minDate: "2022-01-01",
        maxDate: "today"
    });
    
</script>  
{% endblock %}
