{% extends 'base.html.twig' %}

{% block title %} Facturier {% endblock %}

{% block body %}
<div>
    <h2> Editer un profil </h2>
    <div class="col-6">
        {{ form_start(form) }}
            {{ form_row(form.owner) }}
            {{ form_row(form.renter) }}
            {{ form_row(form.amount) }}
            {{ form_row(form.chargesAmount) }}
            {{ form_row(form.total) }}
    
            <div class="row ms-5">
                <button class="w-75 btn btn-outline-dark" type="submit"> sauvegarder </button>
            </div>
        {{ form_end(form) }}
    </div>
</div>

<script type="text/javascript">

function sumMount(){
    $amount = document.getElementById("billed_amount").value; 
    $charges = document.getElementById("billed_chargesAmount").value; 

    if ($amount && $charges) {
        document.getElementById("billed_total").value = parseInt($amount) + parseInt($charges); 
    }
}
</script>
{% endblock %}
