{% extends 'base.html.twig' %}

{% block title %} Facturier {% endblock %}

{% block body %}
<div>
    <h2> Création de la facture de XXX </h2>
    <div class="col-6">
        {{ form_start(form) }}
            {{ form_row(form.startAtPeriod) }}
            {{ form_row(form.endAtPeriod) }}
            {{ form_row(form.paymentAt) }}
            {{ form_row(form.billedRef) }}
    
            <div class="row ms-5">
                <button class="w-75 btn btn-outline-dark" type="submit"><i class="bi bi-filetype-pdf"></i> Générer pdf </button>
            </div>
        {{ form_end(form) }}
    </div>
</div>

<script type="text/javascript">

function sumMount(){
    $amount = document.getElementById("billed_amount").value; 
    $charges = document.getElementById("billed_chargesAmount").value; 

    if ($amount && $charges) {
        document.getElementById("billed_total").value = parseInt($amount) + parseInt($charges); 
    }
}
</script>
{% endblock %}
