{% extends 'base.html.twig' %}

{% block title %} Facturier {% endblock %}

{% block body %}
<div>
    <h2> Editer un profil </h2>
    <div class="col-6">
        {{form_start(form)}}

            {{form_row(form.firstname)}}

            {{form_row(form.lastname)}}

            {{form_row(form.birthday)}}

            {{ form_row(form.fromDate)}}

            <div class="form-check form-switch">
                {{form_row(form.occupant)}}
            </div>

            <div class="row ms-5">
                <button class="w-75 btn btn-outline-dark" type="submit"> Créer </button>
            </div>
        {{form_end(form)}}
    </div>
</div>
{% endblock %}
